@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --transition: all 0.5s linear;
  --main-font-family: "Roboto", sans-serif;
  --main-text-shadow: 0px 2px 1px black;
  --text-box-shadow: 5px 0px 0px 2px rgba(255, 255, 255, 0.5);
}
html,
body {
  height: 100vh;
  width: 100vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background: #000000;
  color: #ffffff;
  overflow: hidden;
}
p {
  text-shadow: var(--main-text-shadow);
}

.main-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  max-height: 90%;
  min-width: 70%;
  scroll-behavior: smooth;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    180deg,
    hsla(240, 91%, 30%, 0.5),
    hsla(0, 96%, 35%, 0.5)
  );
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  overflow-y: auto;
  transition: var(--transition);
}
@media screen and (max-width: 196px) {
  .main-wrapper {
    min-width: 200px;
  }
}

.loadingAnimation {
  animation: loadingEffect infinite linear alternate-reverse 0.5s;
}
@-webkit-keyframes loadingEffect {
  from {
    background: rgba(8, 8, 8, 0.1);
  }
  to {
    background: rgba(24, 24, 24, 0.8);
  }
}
@keyframes loadingEffect {
  from {
    background: rgba(8, 8, 8, 0.1);
  }
  to {
    background: rgba(24, 24, 24, 0.8);
  }
}
.main-wrapper::-webkit-scrollbar {
  background: rgb(37, 37, 37);
  width: 5px;
  box-shadow: inset 0px 0px 10px 0px rgba(56, 13, 13, 0.5);
}
.main-wrapper::-webkit-scrollbar-button {
  background: #888787;
}
.main-wrapper::-webkit-scrollbar-thumb {
  background: rgb(65, 64, 64);
  border-radius: 0.5rem;
}
.placeholder-container {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 496px) {
  .placeholder-container {
    width: 100%;
  }
}
.placeholder-container p {
  color: hsl(0, 0%, 100%, 0.7);
  font-family: var(--main-font-family);
  font-size: 1.5em;
  width: 100%;
  padding: 0.5rem;
}
.list-container p::first-letter {
  color: rgb(122, 143, 122);
}
.list-container {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.list-container li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.list-container li a {
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(151, 149, 149);
  opacity: 0.8;
  font-weight: 700;
}

.list-container li:hover a {
  color: rgba(230, 9, 9, 0.8);
  flex-wrap: wrap;
}

.post,
.task,
.photo,
.quote,
.movie {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 30%;
  height: 200px;
  max-height: 300px;
  overflow: hidden;
  font-size: 1em;
  overflow-y: auto;
  transition: var(--transition);
  background: rgb(14, 13, 13);
  min-width: 135.36px;
  opacity: 0.6;
  transition: var(--transition);
  box-shadow: inset 1px -1px 6px 5px rgba(0, 0, 0, 0.53);
}

.post:hover,
.task:hover,
.photo:hover,
.quote:hover,
.movie:hover {
  cursor: pointer;
  background: rgba(59, 1, 1, 0.5);
}
.post:active,
.task:active,
.photo:active,
.quote:active {
  border: 2px solid rgba(48, 1, 1, 0.5);
}
@media screen and (min-width: 1231px) {
  .post,
  .task,
  .photo,
  .quote,
  .movie {
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 998px) {
  .main-wrapper {
    justify-content: space-around;
    gap: unset;
    width: 100%;
    height: 85% !important;
  }
  .post,
  .task,
  .photo,
  .quote,
  .movie {
    min-width: 47%;
    margin-bottom: 0.8rem;
  }
  .button-wrapper {
    overflow-y: hidden;
  }
}
@media screen and (max-width: 695px) {
  .post,
  .task,
  .photo,
  .quote,
  .movie {
    min-width: 97%;
  }
  .placeholder-container p {
    color: hsl(0, 0%, 100%, 0.7);
    font-family: var(--main-font-family);
    font-size: 1.5em;
    line-height: 1.8em;
  }
}

.post::-webkit-scrollbar,
.task::-webkit-scrollbar,
.photo::-webkit-scrollbar,
.quote::-webkit-scrollbar {
  background: rgb(0, 0, 0);
  width: 3px;
  box-shadow: inset 0px 0px 10px 0px rgba(56, 13, 13, 0.5);
}
.post::-webkit-scrollbar-button,
.task::-webkit-scrollbar-button,
.photo::-webkit-scrollbar-button,
.quote::-webkit-scrollbar-button {
  background: #000000;
  width: 2px;
}
.post::-webkit-scrollbar-thumb,
.task::-webkit-scrollbar-thumb,
.photo::-webkit-scrollbar-thumb,
.quote::-webkit-scrollbar-thumb {
  background: rgb(73, 1, 1);
  border-radius: 0.5rem;
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::-moz-selection,
.task p::-moz-selection,
.photo p::-moz-selection,
.quote p::-moz-selection,
.movie p::-moz-selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p::selection,
.task p::selection,
.photo p::selection,
.quote p::selection,
.movie p::selection {
  background: rgba(23, 59, 34, 0.5);
}
.post p,
.task p,
.photo p,
.quote p,
.movie p {
  position: relative;
  padding: 0.1rem 0.3rem;
  text-transform: capitalize;
  color: rgba(216, 208, 208, 0.8);
  font-weight: 700;
  line-height: 1.5rem;
}
.post .user-id::before,
.task .task-user-id::before,
.photo .album-id::before,
.quote .album-id::before,
.quote .quote-author::before {
  content: "☆";
  position: absolute;
  left: -6%;
  top: -10%;
  font-size: 1em;
  text-transform: capitalize;
  color: hsl(0, 100%, 50%, 0.5);
  margin-right: 0.8rem !important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.post .item-id::before,
.task .task-id::before,
.photo .photo-id::before,
.quote .photo-id::before {
  content: "☆";
  position: absolute;
  left: -6%;
  top: -8%;
  font-size: 1em;
  text-transform: capitalize;
  color: hsl(0, 100%, 50%, 0.5);
  margin-right: 0.8rem !important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.post .title::before,
.task .task-title::before,
.photo .photo-title::before,
.photo .photo-url::before,
.photo .photo-thumbnail::before {
  content: "☆";
  position: absolute;
  left: -6%;
  top: 0%;
  font-size: 1em;
  text-transform: capitalize;
  color: hsl(0, 100%, 50%, 0.5);
  margin-right: 0.8rem !important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.post .post_body::before,
.task .task-completed::before {
  content: "☆";
  position: absolute;
  left: -6%;
  top: 0%;
  font-size: 1em;
  text-transform: capitalize;
  color: hsl(0, 100%, 50%, 0.5);
  margin-right: 0.8rem !important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
/* movie styles */
.movie {
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 40px 10px rgb(0, 0, 0, 0.5);
}
@media screen and (max-width: 1232px) {
  .movie {
    width: 30%;
    padding: 1rem 0.1rem;
  }
}
.movie::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
}

.img_result {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain !important;
  object-fit: contain !important;
  background-position: center;
}
.movie .movie-poster {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
  opacity: 0.6;
}
.movie > * {
  overflow: auto;
}
.movie p::-webkit-scrollbar,
.actors::-webkit-scrollbar {
  background: rgb(0, 0, 0);
  width: 3px;
  box-shadow: inset 0px 0px 10px 0px rgba(231, 229, 229, 0.5);
}

.movie p::-webkit-scrollbar-button,
.actors::-webkit-scrollbar-button {
  background: #000000;
  width: 2px;
}
.movie p::-webkit-scrollbar-thumb,
.actors::-webkit-scrollbar-thumb {
  background: rgb(73, 1, 1);
  border-radius: 0.5rem;
}
.movie p:nth-child(1) {
  padding-top: 1rem;
  color: rgb(240, 234, 234);
  text-shadow: 0px 0px 8px rgb(0, 0, 0);
  display: flex;
  margin-top: -1rem;
  font-family: var(--main-font-family);
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
}
.movie p:nth-child(3) {
  border-radius: 0.4rem;
  width: 100%;
  height: 20%;
  padding-top: 0.5rem;
  transition: 0.3s;
  overflow: hidden;
}
.movie:hover p:nth-child(3) {
  height: 70%;
  overflow: auto;
  transition: unset;
  transition: 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: linear-gradient(45deg, rgba(3, 34, 75, 0.6), rgb(0, 0, 0, 0.6));
}
.movie .movie-vote {
  position: absolute;
  right: 1%;
  top: 2%;
  width: 40px;
  height: auto;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.2em;
  transition: var(--transition);
}

.movie .movie-release {
  position: absolute;
  bottom: 0;
}

.primary {
  background: rgb(1, 121, 1, 1);
  color: rgb(255, 255, 255);
}
.danger {
  background: rgba(138, 21, 1, 1);
  color: white;
}
.average {
  background: rgb(0, 49, 122);
  color: white;
}
.no-rating {
  background: rgb(71, 71, 71);
  color: white;
}

/* PAGINATION */
.more_movies_btn {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 100;
  padding: 0.2rem 1rem;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 91%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%);
  transition: var(--transition);
}

.more_movies_btn a {
  text-decoration: none;
  padding: 0.2rem 0.4rem;
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  display: flex;
  color: white;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(48, 47, 47, 0.6);
  text-align: center;
  margin: auto 0.2rem;
}

.more_movies_btn a:hover {
  background: rgb(48, 47, 47, 1);
  color: red;
  transition: 0.3s;
}
.more_movies_btn a:active {
  transition: unset;
  transform: scale(1.089);
  color: white;
}

@media screen and (max-width: 989px) {
  .more_movies_btn {
    top: 89%;
    border-radius: 0.5rem;
  }
  .more_movies_btn a {
    font-size: 1em;
    padding: unset;
    background: rgb(24, 23, 23);
  }
}

@media screen and (max-width: 529px) {
  .main-wrapper {
    width: 95%;
    transition: all 0.5s ease;
  }
}

/* Buttons */
.button-wrapper {
  position: absolute;
  top: 10.5%;
  left: 2%;
  width: 12%;
  height: 40%;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  opacity: 0;
  -webkit-animation: buttonSlideIn 1 ease-in-out forwards 1s 2s;
  animation: buttonSlideIn 1 ease-in-out forwards 1s 2s;
}
.button-wrapper::-webkit-scrollbar {
  background: rgb(37, 37, 37);
  width: 5px;
  box-shadow: inset 0px 0px 10px 0px rgba(56, 13, 13, 0.5);
}
.button-wrapper::-webkit-scrollbar-button {
  background: #888787;
}
.button-wrapper::-webkit-scrollbar-thumb {
  background: rgb(65, 64, 64);
  border-radius: 0.5rem;
}
@media screen and (max-width: 998px) {
  .button-wrapper {
    top: 0;
    left: 0;
    flex-direction: row;
    width: 85%;
    height: 6%;
    padding: 1rem;
    border-radius: unset;
    margin: 0.1rem 0.5rem;
    justify-content: center;
    transform: translateX(7%);
  }
  .button-wrapper button {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    font-size: 0.65em;
  }
}
@media screen and (min-width: 998px) and (max-width: 1353px) {
  .button-wrapper {
    overflow-x: hidden;
  }
}

.button-wrapper button {
  position: relative;
  height: 3em;
  min-width: 9em;
  min-height: 3em;
  border-radius: 5rem;
  margin: 1em auto;
  background: hsl(0, 1%, 25%);
  border-color: rgba(3, 162, 253, 0.8) transparent hsl(0, 100%, 50%, 0.1)
    transparent;
  color: white;
  opacity: 0.7;
  text-transform: uppercase;
}
@media screen and (max-width: 569px) {
  .button-wrapper {
    top: 1%;
  }
  .button-wrapper button {
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.7em;
    min-width: 6em;
    min-height: 3em;
  }
}

@media screen and (max-width: 744px) {
  .button-wrapper::-webkit-scrollbar {
    display: none;
  }
  .button-wrapper::-webkit-scrollbar-thumb {
    display: none;
  }
  .button-wrapper {
    left: 0;
    right: 0;
  }
}

.button-wrapper button:active {
  border: unset;
}
.button-wrapper button:hover {
  cursor: pointer;
  background: linear-gradient(45deg, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5));
  transition: 0.3s;
  opacity: 1;
  color: red;
  border-color: rgba(0, 142, 224, 0.1) transparent hsl(0, 100%, 50%, 0.5)
    transparent;
}

.button-wrapper button::before {
  content: "";
  position: absolute;
  bottom: -40%;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  transition: var(--transition);
  transform: perspective(2rem) rotateX(70deg);
  background: rgba(112, 2, 2, 0.6);
}
.button-wrapper button:hover::before {
  opacity: 1;
  bottom: -60%;
}

@-webkit-keyframes buttonSlideIn {
  to {
    opacity: 1;
  }
}

@keyframes buttonSlideIn {
  to {
    opacity: 1;
  }
}

/* ================ hover dynamic button effect class================ */
.BTN_hover_effect {
  cursor: pointer !important;
  background: linear-gradient(
    45deg,
    rgb(0 0 0 / 0.5),
    rgb(0 0 0 / 0.5)
  ) !important;
  transition: 0.3s !important;
  opacity: 1 !important;
  color: red !important;
  border-color: rgba(0, 142, 224, 0.1) transparent hsl(0, 100%, 50%, 0.5)
    transparent !important;
}

.BTN_hover_effect::before {
  content: "" !important;
  position: absolute !important;
  bottom: -60% !important;
  left: 0 !important;
  width: 100% !important;
  height: 50% !important;
  opacity: 1 !important;
  -webkit-filter: blur(10px) !important;
  filter: blur(10px) !important;
  transition: var(--transition) !important;
  transform: perspective(2rem) rotateX(70deg) !important;
  background: rgba(112, 2, 2, 0.6) !important;
}
/* ================ hover dynamic button effect class================ */

.herder {
  position: absolute;
  color: rgb(255, 255, 255);
  min-width: 100%;
  max-height: 4em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  transition: var(--transition);
  box-shadow: inset 0px -20px 20px -2px rgba(0, 10, 63, 0.63);
}

.content-main-heading {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  transition: var(--transition);
  -webkit-animation: slideInText 1 forwards ease-in 1.5s 1s;
  animation: slideInText 1 forwards ease-in 1.5s 1s;
}
@-webkit-keyframes slideInText {
  to {
    letter-spacing: 0.5rem;
    opacity: 1;
    color: rgb(255, 255, 255, 0.5);
  }
}
@keyframes slideInText {
  to {
    letter-spacing: 0.5rem;
    opacity: 1;
    color: rgb(255, 255, 255, 0.5);
  }
}
@media screen and (max-width: 998px) {
  .herder {
    top: unset;
    left: 0;
    right: 0;
    bottom: 1%;
    transition: var(--transition);
    box-shadow: inset 0px 20px 20px -2px rgba(0, 10, 63, 0.63);
  }
}
@media screen and (max-width: 371px) {
  .content-main-heading {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 360px) {
  .body_image_wrapper {
    bottom: 0 !important;
  }
}
/* ===========Spinner========== */
.spinner-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
}
.spinner-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgba(73, 131, 255, 0.5) transparent rgba(255, 42, 42, 0.5)
    transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
  animation: lds-dual-ring 1.2s linear infinite;
}
@-webkit-keyframes lds-dual-ring {
  to {
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring {
  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none !important;
  visibility: none !important;
}

/* arrow direction */
.direction-arrow-container {
  position: absolute;
  width: 10%;
  height: 6%;
  top: 0%;
  left: 4%;
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.direction-arrow-container > * {
  font-size: 1.3em;
  color: hsl(0, 100%, 50%, 0.7);
  transition: var(--transition);
}

.direction-arrow-container .fas:nth-child(1) {
  -webkit-animation: show_direction infinite forwards linear 1s 3s;
  animation: show_direction infinite forwards linear 1s 3s;
  transition: var(--transition);
  opacity: 0;
}
.direction-arrow-container .fas:nth-child(2) {
  -webkit-animation: show_direction infinite forwards linear 1s 3s;
  animation: show_direction infinite forwards linear 1s 3s;
  transition: var(--transition);
  opacity: 0;
}

@-webkit-keyframes show_direction {
  to {
    transform: translateY(300%);
    opacity: 1;
  }
}

@keyframes show_direction {
  to {
    transform: translateY(300%);
    opacity: 1;
  }
}
@media screen and (max-width: 996px) {
  .direction-arrow-container {
    display: none;
  }
}

/* ============BACKDROP */
.backdrop-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 70%;
  max-width: 70%;
  height: 80%;
  max-height: 80%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  z-index: 101 !important;
  border-radius: unset;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.7rem;
  cursor: pointer;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

.close-backdrop-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  color: hsl(0, 0%, 100%, 0.6);
  width: 40px;
  height: 40px;
  display: flex;
  isolation: isolate;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  z-index: 2;
  isolation: isolate;
  border-radius: 50%;
}
.close-backdrop-btn::before {
  content: "x";
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.2em;
}
.close-backdrop-btn:hover::before {
  color: hsl(0, 100%, 50%, 0.9);
}
.close-backdrop-btn:active {
  color: white;
  cursor: pointer;
}

.img-text-wrapper {
  background: rgb(0, 0, 0);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.img-text-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -o-object-fit: contain;
  object-fit: contain;
}
.actors {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  min-width: 90%;
  max-height: 35%;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow-y: auto;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    180deg,
    rgba(204, 101, 101, 0.2),
    hsl(240, 100%, 50%, 0.2)
  );
}
.actors h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-top: 2rem;
  opacity: 0.7;
  text-shadow: 0px 2px 1px black;
}

.actors p {
  font-size: 1em;
  color: rgba(252, 249, 249, 0.7);
  padding: 0.4rem;
  text-shadow: 0px 2px 1px black;
}
@media screen and (max-width: 998px) {
  .backdrop-container {
    min-width: 100%;
    min-height: 100%;
    z-index: 100;
  }
  .actors {
    min-width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .actors p {
    font-size: 1em;
    padding: 0.1rem 1rem;
  }
  .actors h1 {
    font-size: 1.1em;
    padding: 1.5rem 1rem;
    padding: 1rem 1rem;
  }
}
@media screen and (max-width: 384px) {
  .movie-details {
    max-width: 100%;
    max-height: 74.19px;
    overflow-y: auto;
    background: rgb(15, 0, 0, 0.3);
  }
}
@media screen and (max-width: 349px) {
  .actors h1 {
    font-size: 1em;
    line-height: 1.5rem;
  }
}

/* ERROR PAGE STYLES */
.error-container {
  position: absolute;
  min-width: 100%;
  height: 100%;
  z-index: 150;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, rgb(65, 19, 19), hsl(229, 98%, 41%));
}
.error-heading {
  font-size: 4em;
  margin-top: -5%;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--main-font-family);
  font-weight: 900;
  text-shadow: 0px 5px 2px rgb(77, 76, 76);
}
.error-container p {
  font-size: 1.7;
  text-transform: uppercase;
  font-family: var(--main-font-family);
  color: hsl(0, 0%, 100%, 0.5);
  margin: 2rem;
}
.error-container a {
  text-decoration: none;
  margin: 1rem;
  font-size: 1.3em;
  font-style: italic;
  isolation: isolate;
  overflow: hidden;
}
.error-container > a:not(:last-child) {
  position: relative;
  color: hsl(0, 0%, 100%, 0.5);
  font-size: 1.3em;
  background: linear-gradient(
    45deg,
    rgba(131, 2, 2, 0.3),
    hsl(240, 100%, 50%, 0.6)
  );
  padding: 1rem;
  outline: 7px solid hsl(0, 0%, 100%, 0.07);
  transition: var(--transition);
  box-shadow: 0px 10px 14px 10px rgb(0, 0, 0, 0.5);
}
.error-container > a:not(:last-child)::before {
  content: "troubleshoot";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  color: hsl(0, 0%, 100%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    rgba(131, 2, 2, 1),
    hsl(240, 100%, 50%, 1)
  );
  z-index: 2;
  transition: 0.3s;
}
.error-container > a:not(:last-child):hover::before {
  top: 0%;
}

.error-container > a:not(:last-child):hover {
  color: hsl(0, 0%, 100%, 0);
  transition: 0.3s;
  background: linear-gradient(
    45deg,
    rgba(131, 2, 2, 0.3),
    hsl(240, 100%, 50%, 0.3)
  );
  outline: 7px solid hsl(0, 0%, 100%, 0.02);
}
.error-container a:last-child {
  color: rgba(255, 255, 255, 0.5);
  color: hsl(0, 0%, 100%, 0.5);
  font-size: 1.3em;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container a:last-child i {
  color: rgba(250, 250, 250, 0.5);
  transform: translateX(0%);
  padding: auto 0.3rem;
  transition: 0.3s;
  margin-left: 0.4rem;

  -webkit-animation: move-arrow infinite alternate running 1s;

  animation: move-arrow infinite alternate running 1s;
}
.error-container a:last-child:hover {
  color: rgba(233, 11, 11, 0.8);
}
@-webkit-keyframes move-arrow {
  0% {
    transform: translateX(180%);
  }
  20% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(180%);
  }
  60% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes move-arrow {
  0% {
    transform: translateX(180%);
  }
  20% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(180%);
  }
  60% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
.error-container a:last-child:hover i {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.error-container a:hover {
  cursor: pointer;
  color: rgba(250, 245, 245, 0.8);
}
@media screen and (max-width: 601px) {
  .error-heading {
    font-size: 3em;
  }
  .error-container p {
    font-size: 1.7;
    text-transform: uppercase;
    font-family: var(--main-font-family);
    color: hsl(0, 0%, 100%, 0.4);
    text-align: center;
  }
  .error-container a {
    margin: 0.2rem;
    font-size: 1.2em;
  }
  .error-container > a:not(:last-child) {
    padding: 0.7rem;
  }
  .error-container > a:last-child {
    font-size: 1em;
  }
  .error-container a:last-child i {
    margin-top: 3rem;
  }
}

/* ISS styles */
.ISS-map-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s;
  -webkit-filter: invert(-100%);
  filter: invert(-100%);
  -webkit-animation: revealMap 1 forwards 2s 2.5s;
  animation: revealMap 1 forwards 2s 2.5s;
}
@-webkit-keyframes revealMap {
  to {
    opacity: 1;
  }
}
@keyframes revealMap {
  to {
    opacity: 1;
  }
}

.ISS-map-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 500;
  overflow: hidden;
  transition: width 0.5s;
  -webkit-animation: removeCatains 1 forwards ease-in 0.5s 4s;
  animation: removeCatains 1 forwards ease-in 0.5s 4s;

  -webkit-filter: blur(10px);

  filter: blur(10px);
}
.ISS-map-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 500;
  overflow: hidden;
  transition: width 0.5s;
  -webkit-animation: removeCatains 1 forwards ease-in 0.5s 4s;
  animation: removeCatains 1 forwards ease-in 0.5s 4s;

  -webkit-filter: blur(10px);

  filter: blur(10px);
}

@-webkit-keyframes removeCatains {
  to {
    width: 0;
  }
}

@keyframes removeCatains {
  to {
    width: 0;
  }
}
#ISS_map {
  height: 100%;
  width: 70%;
  background: black;
}
.ISS-data-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 0%;
  width: 30%;
  display: flex;
  transition: 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  background: rgb(11, 11, 18);
  -webkit-animation: animateDataISS 1 forwards linear 0.5s 4s;
  animation: animateDataISS 1 forwards linear 0.5s 4s;
}
@-webkit-keyframes animateDataISS {
  to {
    height: 100%;
  }
}
@keyframes animateDataISS {
  to {
    height: 100%;
  }
}

.ISS-data-wrapper p {
  position: relative;
  text-transform: capitalize;
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 5rem;
  font-weight: bolder;
  font-size: 1.4rem;
  cursor: pointer;
  isolation: isolate;
  color: rgb(253, 252, 252);
  text-shadow: 1px 0px 0 #3d3d3d, -1px 1px -1px #fcf8f8;
}
.ISS-data-wrapper::-webkit-scrollbar {
  background: rgb(0, 0, 0);
  width: 3px;
  box-shadow: inset 0px 0px 10px 0px rgba(231, 229, 229, 0.5);
}
.ISS-data-wrapper::-webkit-scrollbar-button {
  background: #000000;
  width: 2px;
}
.ISS-data-wrapper::-webkit-scrollbar-thumb {
  background: rgb(73, 1, 1);
  border-radius: 0.5rem;
}

.ISS-data-wrapper p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.3s;
  border-radius: 1rem;
  background: linear-gradient(45deg, rgba(34, 1, 1, 0.5), rgba(4, 4, 156, 0.5));
}
.ISS-data-wrapper p::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 1rem;
  transition: 0.3s;
  background: linear-gradient(
    45deg,
    rgba(19, 18, 18, 0.5),
    rgba(1, 1, 66, 0.5)
  );
}
.ISS-data-wrapper p:hover::before {
  width: 0%;
}
.ISS-data-wrapper p:hover::after {
  width: 0%;
}

@media screen and (max-width: 576px) {
  .ISS-data-wrapper {
    all: unset;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: auto;
    background: rgb(11, 11, 18);
  }
  .ISS-data-wrapper p {
    text-transform: capitalize;
    padding: 0.6rem;
    border-radius: 0;
  }
  #ISS_map {
    height: 80%;
    width: 100%;
  }
  .ISS-data-wrapper p::before,
  .ISS-data-wrapper p::after {
    all: unset;
  }
}
